*{
	padding: 0;
	margin: 0;
	font-family: Helvetica neue, Helvetica, Futura;
	text-decoration: none;
	list-style-type: none;
}

header{
	padding: 5px;
	text-align: center; 
	width: 100%;
	background: grey; 
	color: white;
	border-radius: 5px;
}

h1{
	text-align:center;
	font-size: 50px;
	color: rgb(32, 150, 150);
}

#container{
	display: flex;
	flex-wrap: wrap;
	height: 50vh;
	width: 80%;
	margin: 0 auto;
}

#userbox{
	flex: 1;
	border-radius: 5px;
	margin: 0px 10px 2px;
	height: 500px;
}

#chatboxContainer{
	flex: 3;
	border-radius: 5px;
	margin: 0px 10px 2px;
	height: 500px;
}


#userbox > ul >  li {
	margin: 5px;
	padding: 8px;
	background: rgb(230,223,230);
	color: rgb(32, 150, 150);
	border-radius: 5px;

}

#chatbox {
	display: block;
	
	height: 465px;
}

#chatbox > ul >li {
	margin: 3px;
	padding: 8px;
	background: rgb(230,223,230);
	border-radius: 5px;
	color: rgb(32, 150, 150);
	width: 75%;
}

input[type="text"]{
	font-size: 18px;
	width: 78%;
	color: grey;
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
}

/*#input{
	border: 1px solid yellow;
}*/

input[type="submit"]{
	font-size: 18px;
	width: 20%;
}
